.contenedor__logo{
    width: 100cm;
    height: 150px;
}

.id__contenedor{
    position:absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 150px;
}

header{
    color: rgb(227, 226, 208);
    position: relative;
}

.navegadores{
   
}

@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
.snip1582 {
  background-color:darkgray;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'BenchNine', Arial, sans-serif;
  font-size: 1em;
  font-size: 22px;
  line-height: 1em;
  margin: 15px 40px;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}

.snip1582:before,
.snip1582:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}

.snip1582:before {
  border-color: darkgray;
  border-top-width: 2px;
  left: 0px;
  top: -5px;
}

.snip1582:after {
  border-bottom-width: 2px;
  border-color: darkgray;
  bottom: -5px;
  right: 0px;
}

.snip1582:hover,
.snip1582.hover {
  background-color: darkgray;
}

.snip1582:hover:before,
.snip1582.hover:before,
.snip1582:hover:after,
.snip1582.hover:after {
  height: 100%;
  width: 100%;
}

.titulo{
    position: absolute;
    top: 500px;
    left: 5px;
    font-family: 'Viga', sans-serif;
    font-size: 64px;
}

.subtitulo{
    position: absolute;
    top: 600px;
    font-family: 'Philosopher', sans-serif;
    font-size: 32px;
}

a{
    text-decoration: none;
    font-weight: bolder;
    border: 2px;
    color: #939598;
    font-size: 150%;
    padding: 1,5%;
}

.informacion{
    font-size: 35px;
    color: #939598;
    font-family:"Titillium Web",serif;
}

.parrafo{
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
}

.subParrafo{
    font-family: 'Roboto', sans-serif;
    font-size:large;
}

.info2{
    font-size: 35px;
    color: #939598;
    font-family:"Titillium Web",serif;
}

.subInfo{
    font-size:medium;
    font-family: 'Roboto', sans-serif;
}

.interior{
    position: relative;
    width: 100%;
    height: 500px;

}

.proInterior{
    font-size: 20px;
    bottom: 45px;
}

.interiorTitulo{
    
    top: 150px;
    right: 50px;
    left: 100px;
    font-size:large;
    font-weight: bolder;
}

.fotoInterior{
   display: grid;
   border-radius: 500px;
    top: 80px;
    width: 30%;
    height: 350px;
}   

.diseñoTitulo{
    position: absolute;
    text-align: center;
    top: 50px;
    left: 500px;

}

.fotoDiseño{
    display: flex;
    border-radius: 500px;
    width: 30%;
    height: 350px;
    top: 80px;
    right: 510px;
}

.remodelaciontitulo{
    position: absolute;
    top: 50px;
    left: 978px;
}

.fotoRemodelacion{
    display: grid;
    border-radius: 500px;
    width: 30%;
    height: 350px;
    right: 30px;
    top: 80px;
}