.contenedor__logo{
    width: 100cm;
    height: 150px;
}

.id__contenedor{
    position:absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 150px;
}

header{
    color: rgb(227, 226, 208);
    position: relative;
}

.navegadores{
    position: absolute;
    right: 100px;
    top: 80px;
    left: 50%;
    word-spacing: 25px;
    font-family:"Titillium Web",serif;
    color: #939598;
    font-weight: 300;
}

.titulo{
    position: absolute;
    top: 500px;
    left: 5px;
    font-family: 'Viga', sans-serif;
    font-size: 64px;
}

.subtitulo{
    position: absolute;
    top: 600px;
    font-family: 'Philosopher', sans-serif;
    font-size: 32px;
}

a{
    text-decoration: none;
    font-weight: bolder;
    border: 2px;
    color: #939598;
    font-size: 150%;
    padding: 1,5%;
}

.informacion{
    font-size: 35px;
    color: #939598;
    font-family:"Titillium Web",serif;
}

.parrafo{
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
}

.subParrafo{
    font-family: 'Roboto', sans-serif;
    font-size:large;
}

.info2{
    font-size: 35px;
    color: #939598;
    font-family:"Titillium Web",serif;
}

.subInfo{
    font-size:medium;
    font-family: 'Roboto', sans-serif;
}

.interior{
    position: relative;
    width: 100%;
    height: 500px;

}

.proInterior{
    font-size: 20px;
    bottom: 45px;
}

.interiorTitulo{
    
    top: 150px;
    right: 50px;
    left: 100px;
    font-size:large;
    font-weight: bolder;
}

.fotoInterior{
   display: grid;
   border-radius: 500px;
    top: 80px;
    width: 30%;
    height: 350px;
}   

.diseñoTitulo{
    position: absolute;
    text-align: center;
    top: 50px;
    left: 500px;

}

.fotoDiseño{
    display: flex;
    border-radius: 500px;
    width: 30%;
    height: 350px;
    top: 80px;
    right: 510px;
}

.remodelaciontitulo{
    position: absolute;
    top: 50px;
    left: 978px;
}

.fotoRemodelacion{
    display: grid;
    border-radius: 500px;
    width: 30%;
    height: 350px;
    right: 30px;
    top: 80px;
}