<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Deco&Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/estilos.css" rel="stylesheet">
    </head>
    <body>
    <div class="conteiner">
        <header>
            <div class="contenedor__logo">
                <img class= "id__contenedor" src="../imagenes/logoo.png" alt="">
            </div> 
            <nav class="navegadores">
            <a href="index.html"> Inicio</a>
            <a href= "views/servicios.html"> Servicios</a>
            <a href= "views/nosotros.html"> Nosotros</a>
            <a href= "views/galeria.html"> Galeria</a></li>
            <a href= "views/contacto.html"> Contacto</a>
            </nav>
        </header>
        <div class="contactanos">
            <h1>Contactanos</h1>
            <h2>¡Nuestro equipo de arquitectos quiere saber de vos!</h2>
        </div>
        <main>
            <section>
                <h1 class="formulario">formulario de contacto</h1>
                <ol>
                    <form action=""
                        <label>Ingrese su Nombre</label>
                        <input type="text" name="nombre" id="" placeholder="nombre"

                        <label>Ingrese su mail</label>
                        <input type="mail" placeholder="mail"
                        <input type="submit"
                        <label>Dejanos tu consulta</label>

                        <input type="dejanos tu consulta" placeholder="dejanos tu consulta"
                    </form>
                    
                    
                </ol>
                
            </section>
        </main>
        <footer class="footer">
            <img class= "id__contenedor" src="../imagenes/logoo.png" alt="logo">
            <div class="info">
                <h3>informacion de contacto</h3>
                <h3>Email</h3>
                <p>deco&homearquitectura@gmail.com</p>
                <h3>Telefono</h3>
                <p>whatsapp: 2213567086</p>
                <h3>Redes Sociales</h3>
                <p>instagram: @Deco&Homeba</p>
                <p>facebook: @Deco&Homeba</p>
                <p>Nuestro Horario.
                Lunes a Viernes 09 a 18.00 hs.</p>
                <p>Reunión Previa Requerida.</p>
            </div>
        </footer>
    </div>
    </body> 
</html>