<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Deco&Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/estilos.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="contenedor__logo">
                <img class= "id__contenedor" src="../29315/imagenes/logoo.png" alt="">
            </div>  
            <img>
            <nav class="navegadores">
            <a href="index.html"> Inicio</a>
            <a href= "views/servicios.html"> Servicios</a>
            <a href= "views/nosotros.html"> Nosotros</a>
            <a href= "views/galeria.html"> Galeria</a></li>
            <a href= "views/contacto.html"> Contacto</a>
            </nav>
        </header>
        <main>
            <h1 class="arqui1">SOMOS ARQUITECTOS Y DISEÑADORES</h1>
            <h3 class="arqui2">Diseñamos Proyectos Increíbles y 
                Construimos Obras de la Mas Alta Calidad.</h3>
            <h3 class="arqui2">¡Nos especializamos en el diseño de Edificios de la mas alta calidad. Somos expertos en la construcciones obra y sobresalimos en el diseño interior y la calidad espacial en cada proyecto!</h3>
            <p class="arqui2">Cada proyecto es una oportunidad única para encontrar nuevas e innovadoras formas de dar respuestas inteligentes a problemas cotidianos.</p>
        </main>
         <footer>
            <h3>informacion de contacto</h3>
            <p>whatsapp: 2213567086</p>
            <p>instagram: @Deco&Homeba</p>
            <p>Nuestro Horario.
                Lunes a Viernes 09 a 18.00 hs.</p>
                <p>Reunión Previa Requerida.</p>
        </footer>
    </body>
</html>