<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Deco&Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/estilos.css" rel="stylesheet">
    </head>
    <body>
        <header>  
            <img>
            <nav class="navegadores">
            <a href="index.html"> Inicio</a>
            <a href= "views/servicios.html"> Servicios</a>
            <a href= "views/nosotros.html"> Nosotros</a>
            <a href= "views/galeria.html"> Galeria</a></li>
            <a href= "views/contacto.html"> Contacto</a>
            </nav>
        </header>
        <h1>Decoracion y Arquitectura</h1>
        
        <h2>Te traemos innovacion y elegancia para tu hogar</h2>
        <!--aca empieza el main-->
        <main>
            <h1>Sobre Nosotros</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> nulla modi laboriosam.<br> Assumenda soluta architecto magnam et odit nemo quod, eos illum, obcaecati dignissimos, aliquid quia. Asperiores quisquam quidem autem!</p>
            <img> <!-- aca iria una imagen-->
        </main>
        <h2>¿Por qué Elegirnos?</h2>
                <p>Trabajamos para mejorar la cálida de vida e las personas, para ello combinados un diseño elegante con espacios únicos, distintivos y confortables.</p>
        <!--aca empieza el footer-->
    <footer>
        <h3>informacion de contacto</h3>
        <p>whatsapp: 2213567086</p>
        <p>instagram: @Deco&Homeba</p>
        <p>Nuestro Horario.
            Lunes a Viernes 09 a 18.00 hs.</p>
            <p>Reunión Previa Requerida.</p>
    </footer>
    </body>
</html>
        
    