<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Deco&Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/estilos.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <img class= "id__contenedor" src="../imagenes/logoo.png" alt="logo">
            <div class="navegadores">
                 <a href="index.html"> Inicio</a></li>   
                 <a href= "views/servicios.html"> Servicios</a></li>    
                 <a href= "views/nosotros.html"> Nosotros</a></li>
                 <a href= "views/galeria.html"> Galeria</a></li></li>
                 <a href= "views/contacto.html"> Contacto</a></li>
            </div>
        </header>
        <div class="contenedor__logo">
            <h1 class="tituloNosotros">Sobre Nosotros</h1>
            <h2 class="subtituloNosotros">Acompañamos y asesoramos a nuestros clientes, dando respuesta inmediata a sus
                necesidades. Construimos relacion de basadas en la confianza y la experiencia profesional.
                Nuestro diferencial es la gestión persanalizado de cada proyecto, con responsabilidad en la
                ejecución.
                Trabajamos día a día en una gestión integraN que cumpla con los plazos pactados, la
                optimización de costos y la calidad de nuestro producto. Nuestro trabajo es innovador,
                moderno, de calidad y enfocado en la excelencia.</h2>
                <input type="text" placeholder="Forma parte de nuestro equipo">
        </div>
        <img class= "imagenNosotros" src="../imagenes/nosotros.jpg" alt="imagen">
        <main class="infoNosotros">
            <h2>Diseñamos Proyectos Increíbles y 
                Construimos Obras de la Mas Alta Calidad.</h2>
            <p
            class="textoNosotros">¡Nos especializamos en el diseño de Edificios de la mas alta calidad. Somos expertos en la construcciones obra y sobresalimos en el diseño interior y la calidad espacial en cada proyecto!</p>
            <div class="Postulacion">
                <h2>Forma Parte de Deco&Home</h2>
                <p>En deco&home ofrecemos oportunidades para el desarrollo profesional dentro de un
                    ambiente dinámico e innovador. Estamos convencidos de que el equipo humano y
                    profesional es esencial para brindar un servicio de calidad a nuestros clientes y lo que
                    aporta un valor agregado a nuestros proyectos.
                    Si estás interesado en participar de nuestras búsquedas, por favor completa los
                    siguientes datos</p>
            </div>
            <section class="registro">
                <input class="controles" type="nombre" name="nombre" value="nombre" placeholder="Ingrese su Nombre">
                <input class="controles" type="" name="e-mail" value="e-mail" placeholder="Ingrese su E-mail">
                <input class="controles" type="" name="insertar cv" value="insertar cv" placeholder="Ingrese su CV">
                <input class="botones" type="submit" value="enviar">
            </section>
        </main>
    <footer>
        <img class= "id__contenedor" src="../imagenes/logoo.png" alt="logo">
        <h3>informacion de contacto</h3>
        <p>whatsapp: 2213567086</p>
        <p>instagram: @Deco&Homeba</p>
        <p>Nuestro Horario.
            Lunes a Viernes 09 a 18.00 hs.</p>
        <p>Reunión Previa Requerida.</p>
        <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d13082.833630915042!2d-57.950359!3d-34.9388493!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1658712999846!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
     </footer>
    </body>
</html>    