<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Deco&Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/estilos.css">
    </head>
    <body>
        <header>
            <div class="contenedor__logo">
                <img class= "id__contenedor" src="../29315/imagenes/logoo.png" alt="">
            </div>
            <img class="id__contenedor" src="../imagenes/logoo.png" alt="logo">
            <nav class="navegadores">
            <a href="index.html"> Inicio</a>
            <a href= "views/servicios.html"> Servicios</a>
            <a href= "views/nosotros.html"> Nosotros</a>
            <a href= "views/galeria.html"> Galeria</a></li>
            <a href= "views/contacto.html"> Contacto</a>
            </nav>
        </header>
        <h2 traemos innovacion y elegancia para tu hogar</h2>
        <main>
                <h1 class="info2">Servicios Profesionales</h1>
                <h3 class="serv">Somos un equipo de arquitectos especializado en el diseño de casa de lujo.</h3>
                <p>Desarrollamos y construimos espacios únicos de bajo mantenimiento, elegantes y de la mas alta calidad</p>
                <p>Hacemos en tiempo y forma respetando costos, plazos y presupuestos.</p>
                <img src="../imagenes/Imagen 25-7-22 a las 02.39.jpg">
        </main>
        <img src="../imagenes/presupuesto.jpg" alt="imagen">
    <footer class="footer">
        <img class= "id__contenedor" src="../29315/imagenes/logoo.png" alt="logo">
        <div class="info">
            <h3>informacion de contacto</h3>
            <p>whatsapp: 2213567086</p>
            <p>instagram: @Deco&Homeba</p>
            <p>Nuestro Horario.
            Lunes a Viernes 09 a 18.00 hs.</p>
            <p>Reunión Previa Requerida.</p>
        </div>
    </footer>
    </body>
</html>